NEXT_PUBLIC_API_URL=http://writer-backend-host:8008/api
INTERNAL_API_URL=http://127.0.0.1:8008
NEXT_PUBLIC_ECOSYSTEM_CORE_URL=http://core-host:8007/api
NEXT_PUBLIC_SCIENCE_URL=http://science-host:3017/
NEXT_PUBLIC_MATH_URL=http://math-host:3014/laboratory
NEXT_PUBLIC_NOTEBOOK_URL=http://notebook-host:3015/workspace
NEXT_PUBLIC_WRITER_URL=http://writer-host:3016/documents
NEXT_PUBLIC_MATH_OBJECT_URL=http://math-host:3014/laboratory
NEXT_PUBLIC_NOTEBOOK_OBJECT_URL=http://notebook-host:3015/workspace
NEXT_PUBLIC_WRITER_OBJECT_URL=http://writer-host:3016/new
NEXT_PUBLIC_SCIENCE_OBJECT_URL=http://science-host:3017/projects
